.products__modal{
    display:block;
    width: 30vw;
    height: 40vh;
    background-color: var(--first-part);
    outline: 1px solid red;
    border-radius: 20px;
    text-align: center;

    & >p {
        padding: 20px 10px;
    }
}

.first {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.two {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.three {
    position: absolute;
    right: 0%;
    top: 0;
    width: 100%;
}